<div class="main">
<h4 class="text-center">FEDEX</h4>
<div class="container" style="background-image: url('../assets/img/se.png'); background-size: cover; background-position: top center;">
  <div class="row text-center">
    <div class="col-md-12 col-md-offset-2">
      <h5>FEDEX</h5>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-12">
      <input type="text" class="form-control" id="name">
    </div>
  </div><br>
  <div class="row text-center">
    <div class="col-md-12">
      <button class="btn btn-primary">
        Submit
      </button>
    </div>
  </div>
</div>
</div>